# Docker Volumes
volumes/jenkins
volumes/sling
volumes/artifactory
volumes/artifactory/access
volumes/artifactory/backup
volumes/artifactory/data
volumes/artifactory/etc
volumes/artifactory/logs
volumes/gitlab
volumes/gitlab/config
volumes/gitlab/data
volumes/gitlab/log
volumes/sonar/data
volumes/nginx/dev-manual
volumes/nginx/user-manual
volumes/node-demo-app/server.js
volumes/node-drone-app/server.js
volumes/node-drone-app/node_modules/node-bebop/examples/GoDrone.js

# BDD Project Target folder
testing/bdd/bdd-demo/target

# Generated Docs
docs/developer_manual/build
docs/user_manual/build

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
