version: '3'

services:
  argilla-centos:
    build: ./argilla-centos
  argilla-openjdk:
    build: ./argilla-openjdk
    depends_on:
      - argilla-centos
#  argilla-artifactory:
#    #restart: always
#    build: ./argilla-artifactory
#    ports:
#      - "8081:8081"
#    volumes:
#      - ../volumes/artifactory:/var/opt/jfrog/artifactory
#  argilla-sonardb:
#    #restart: always
#    image: postgres:9.6
#    ports:
#      - "5432:5432"
#    volumes:
#      - ../volumes/sonar/data:/var/lib/postgresql/data
#    environment:
#     - POSTGRES_USER=sonar
#     - POSTGRES_PASSWORD=sonar
#  argilla-sonar:
#    #restart: always
#    image: sonarqube
#    ports:
#     - "19000:9000"
#     - "19092:9092"
#    depends_on:
#      - argilla-sonardb
#    environment:
#     - SONARQUBE_JDBC_URL=jdbc:postgresql://sonardb:5432/sonar
#     - SONARQUBE_JDBC_USERNAME=sonar
#     - SONARQUBE_JDBC_PASSWORD=sonar
#  argilla-gitlab:
#    #image: 'gitlab/gitlab-ce:latest'
#    build: ./argilla-gitlab
#    restart: always
#    hostname: 'argilla-gitlab'
#    environment:
#      GITLAB_OMNIBUS_CONFIG: |
#        # external_url 'https://gitlab.softwarehippie.com:8443'
#        # Add any other gitlab.rb configuration here, each on its own line
#    ports:
#      - '1080:80'
#      - '10443:443'
#      - '1022:22'
#    volumes:
#      - '../volumes/gitlab/config:/etc/gitlab'
#      - '../volumes/gitlab/logs:/var/log/gitlab'
#      - '../volumes/gitlab/data:/var/opt/gitlab'
#  argilla-jenkins:
#    build: ./argilla-jenkins
#    #restart: always
#    ports:
#      - "18080:8080"
#      - "122:22"
#    volumes:
#      - ../volumes/jenkins:/var/lib/jenkins/
#    depends_on:
##      - argilla-artifactory
##      - argilla-sonar
#      - argilla-gitlab
#    environment:
#      - ARTIFACTORY_PORT=8081
#      - SONAR_PORT=9000
#      - SONAR_DB_PORT=5432
#      - JENKINS_UC=https://updates.jenkins.io
#      - JENKINS_UC_EXPERIMENTAL=https://updates.jenkins.io/experimental
  argilla-nginx:
    build: ./argilla-nginx
    restart: always
    ports:
      - "8090:80"
    volumes:
      - ../volumes/nginx:/usr/share/nginx/html  
  node-demo-app:
    build: ./node-demo-app
    restart: always
    ports:
      - "49160:8080"
    volumes:
      - ../volumes/node-demo-app:/usr/src/app
  node-drone-app:
    build: ./node-drone-app
    restart: always
    ports:
      - "49161:8080"
    volumes:
      - ../volumes/node-drone-app:/usr/src/app    